body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: xx-large;*/
    padding: 2rem;
}

h1, h2, h3, p{
    color: #626262;
}

hr {
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(78, 6, 161, 1) 50%, rgba(0, 0, 0, 1) 90%);
    height: 1px;
}

.header {
    height: 200px;
}

.header h1 {
    font-size: 52px;
    position: relative;
    float: right;
    margin-right: 95px;
    margin-top: 75px;
    display: inline;
}

.header h3 {
    position: relative;
    float: right;
    margin-right: 255px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: -25px;
}

.header img {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 125px;
    border-radius: 50%;
}

.content {
    width: 850px;
    margin: auto;
}

ul li {
    color: #626262;
    list-style-type: disc;
}

.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer p {
    text-align: center;
}